.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
  max-width: 100%;
  margin-top: 5%;
}

.photo-grid__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 850px) {
  .photo-grid {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .photo-grid {
    max-width: 100%;
    grid-template-columns: 1fr;
  }
}
